@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
  width: 20px; 
}

html::-webkit-scrollbar-track {
  background:  linear-gradient(0deg, rgba(14, 15, 15, 0.9) 0%, rgba(43, 168, 74, 1) 100%);
}

html::-webkit-scrollbar-thumb {
  background: transparent;
  box-shadow: 0px 0px 0px 100vh black;
}